*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-color: #F9DC5C;
  font-family: Arial, sans-serif;
  color: #465362;
}

header {
  background-color: #011936;
  text-align: center;
  color: #F9DC5C;
}

h1 {
  font-size: 3em;
}

.user-welcome {
  text-align: right;
}

form {
  font-size: 1.2em;
  text-align: center;
}

button {
  font-size: .7em;
}

input {
  font-size: .7em;
}

.login-form {
  font-size: 2em;
}

.login-error-message {
  display: none;
}

.customer-page {
  display: none;
  grid-template-columns: 1fr 3fr;
  margin-top: 5%;
}

.customer-dashboard {
  text-align: center;
  font-size: 1.4em;
  margin-left: 10%;
  width: 100%;
  border: solid 6px lightsteelblue;
  background-color: #BDD4E7;
  height: 100%;
}

.booking-confirmation {
  grid-column: 2;
}

.search-available-rooms{
   font-size: 2em;
   text-align: center;
}

.manager-page {
  @extend .customer-page;
}

.manager-dashboard {
  @extend .customer-dashboard;
}

.manager-interaction-page {
  margin-left: 5%;
  font-size: 1.5em;
  display: none
}

.searched-rooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.room-card {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border: solid 6px lightsteelblue;
  background-color: #BDD4E7;
  margin-bottom: 2%;
  text-align: center;
  font-size: 2em;
}

.book-room-button {
  width: 40%;
}
