@import 'variables';
@import 'pages';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $yellow;
  font-family: Arial, sans-serif;
  color: $text-color;
}

header {
  background-color: $dark-blue;
  text-align: center;
  color: $yellow;
}

main {
  height: 200%;
}

h1 {
  font-size: 3em;
}

.user-welcome {
  text-align: right;
}

form {
  font-size: 1.2em;
  text-align: center;
}

button {
  font-size: .7em;
}

input {
  font-size: .9em;
}

.booking-confirmation {
  grid-column: 2;
}

.search-available-rooms{
   font-size: 2em;
   text-align: center;
}

.room-card {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border: solid 6px $border-color;
  background-color: $card-color;
  margin-bottom: 2%;
  text-align: center;
  font-size: 2em;
}
